body {
  color: black;
  font: normal 12px verdana, arial, helvetica, sans-serif;
  line-height: 1.5;
  padding: 0px;
  margin: 0px; }

#page_container {
  width: 70em;
  position: absolute;
  min-height: 400px;
  color: black;
  margin-top: 5px;
  padding-left: 10px;
  border-right: solid 1px #aaaaaa;
  border-top: solid 1px #aaaaaa; }

#footer {
  position: absolute;
  bottom: -1px;
  right: -1px;
  font-size: 8pt;
  padding-top: 5px;
  padding-right: 15px;
  padding-bottom: 5px;
  padding-left: 5px;
  color: gray;
  border-bottom: solid 1px #aaaaaa; }
  #footer a {
    color: gray;
    text-decoration: underline; }

h1#page_heading {
  font-size: 24pt; }

h2 {
  font-size: 1.2em;
  color: #333333;
  margin-bottom: 0px; }
  h2 a {
    color: #333333; }

h3, h4, h5 {
  color: #333333; }

p {
  padding: 0px;
  margin-top: 0.5em;
  margin-bottom: 1em;
  margin-left: 0px;
  margin-right: 0px; }

strong {
  color: #333333; }

.openid {
  background-image: url("/images/openid_icon.png");
  padding-left: 15px;
  background-repeat: no-repeat;
  background-position: 0px 2px; }

a {
  color: #000051;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

small a {
  text-decoration: underline; }

label {
  margin-left: 1em; }
  label a {
    text-decoration: underline; }

img {
  border: solid 1px black; }

#navigation {
  position: absolute;
  width: 10em;
  top: -1px;
  right: -1px;
  border: none;
  border-left: solid 1px #aaaaaa;
  border-bottom: solid 1px #aaaaaa;
  border-top: solid 1px white;
  border-right: solid 1px white;
  padding: 10px; }
  #navigation h2 {
    display: inline; }
  #navigation label {
    margin-left: 0;
    font-style: normal; }
  #navigation ul {
    padding-left: 10px;
    margin-left: 0px;
    margin-top: 0px;
    list-style: none; }
    #navigation ul li {
      padding-left: 0px;
      margin-left: 0px; }
  #navigation h3 {
    font-size: 1.2em;
    font-weight: bold;
    font-family: verdana, arial, helvetica, sans-serif; }
  #navigation input {
    border: solid 1px black;
    width: 100%; }
  #navigation form {
    margin-bottom: 1em; }

#main {
  padding-right: 150px;
  padding-left: 0px;
  padding-top: 15px;
  padding-bottom: 40px; }

div.meta {
  margin-top: 1em;
  margin-bottom: 3em; }
div.comments div.body {
  padding: 5px; }
div.comments div.meta {
  min-height: 0px;
  padding: 0px; }
div.comments div.separator {
  height: 10px; }
div.errors {
  border: solid 1px red;
  background-color: #ffcccc;
  padding: 5px;
  padding-left: 10px;
  width: 485px; }
  div.errors h3 {
    font-size: 1em; }

.meta ul {
  list-style: none;
  margin: 0px;
  padding-left: 0em;
  padding-bottom: 0.5em;
  display: inline;
  color: #cccccc;
  font-size: 10pt; }
  .meta ul li {
    display: inline; }
    .meta ul li:after {
      content: " | "; }
    .meta ul li:last-child:after {
      content: ""; }
.meta a {
  color: #bbbbbb;
  border-bottom: dotted 1px #bbbbbb; }
  .meta a:hover {
    text-decoration: none; }

.archive-month .tags {
  color: #bbbbbb; }
  .archive-month .tags a {
    color: #bbbbbb;
    border-bottom: dotted 1px #bbbbbb; }

.separator {
  height: 1px;
  margin-top: 5px;
  clear: both; }

textarea {
  font: normal 12px verdana, arial, helvetica, sans-serif;
  width: 500px; }

select {
  font: normal 12px verdana, arial, helvetica, sans-serif; }

#project_summary {
  height: 150px; }

#new_comment textarea, #edit_comment textarea {
  height: 150px; }

.alt, .container_alt {
  background-color: #fafafa; }

.fieldWithErrors {
  display: inline; }

span.error {
  font-weight: bold; }
span.CodeRay {
  white-space: pre;
  border: 0px;
  padding: 2px; }

hr {
  border-top: dotted 1px black;
  border-bottom: none;
  height: 1px; }

#preview {
  height: 200px;
  overflow: auto; }

.related {
  background-color: #f8f8f8;
  border: 1px solid silver;
  padding: 10px; }

fieldset.toc {
  float: right;
  border: dotted 1px black;
  background-color: #fafafa;
  padding: 10px;
  margin-left: 5px; }

.toc legend {
  font-weight: bold; }
.toc ol {
  margin: 0px;
  padding-left: 0px;
  list-style-position: inside; }
  .toc ol ol {
    list-style-type: lower-alpha;
    padding-left: 15px; }

pre.ruby .keyword {
  color: #c41f1f; }
pre.ruby .constant {
  color: #961818; }
pre.ruby .comment {
  color: #f37e00; }
pre.ruby .string {
  color: #b77c0a; }

.CodeRay {
  background-color: #f8f8f8;
  border: 1px solid silver;
  font-family: "Courier New", "Terminal", monospace;
  color: #110000;
  margin-bottom: 1em; }
  .CodeRay pre {
    margin: 0px;
    font-size: 12px; }
  .CodeRay .line_numbers {
    background-color: #eaeaea;
    color: gray;
    text-align: right; }
    .CodeRay .line_numbers tt {
      font-weight: bold; }
  .CodeRay .no {
    background-color: #eaeaea;
    color: gray;
    text-align: right;
    padding: 0px 4px; }
  .CodeRay .code {
    width: 100%; }
    .CodeRay .code pre {
      overflow: auto; }

table.CodeRay {
  border-collapse: collapse;
  width: 100%;
  padding: 2px; }
  table.CodeRay td {
    padding: 2px 4px;
    vertical-align: top; }

ol.CodeRay {
  font-size: 10pt; }
  ol.CodeRay li {
    white-space: pre; }

.af {
  color: #0000cc; }

.an {
  color: #000077; }

.av {
  color: #770000; }

.aw {
  color: #cc0000; }

.bi {
  color: #550099;
  font-weight: bold; }

.c {
  color: #888888; }

.ch {
  color: #0044dd; }
  .ch .k {
    color: #0044dd; }
  .ch .dl {
    color: #003399; }

.cl {
  color: #bb0066;
  font-weight: bold; }

.co {
  color: #003366;
  font-weight: bold; }

.cr {
  color: #00aa00; }

.cv {
  color: #336699; }

.df {
  color: #009999;
  font-weight: bold; }

.di {
  color: #008888;
  font-weight: bold; }

.dl {
  color: black; }

.do {
  color: #997700; }

.ds {
  color: #dd4422;
  font-weight: bold; }

.e {
  color: #666666;
  font-weight: bold; }

.en {
  color: #880000;
  font-weight: bold; }

.er {
  color: red;
  background-color: #ffaaaa; }

.ex {
  color: red;
  font-weight: bold; }

.fl {
  color: #6600ee;
  font-weight: bold; }

.fu {
  color: #0066bb;
  font-weight: bold; }

.gv {
  color: #dd7700;
  font-weight: bold; }

.hx {
  color: #005588;
  font-weight: bold; }

.i {
  color: #0000dd;
  font-weight: bold; }

.ic {
  color: #bb4444;
  font-weight: bold; }

.il {
  background: #eeeeee; }
  .il .il {
    background: #dddddd; }
    .il .il .il {
      background: #cccccc; }
  .il .dl {
    font-weight: bold !important;
    color: #888888 !important; }

.in {
  color: #bb22bb;
  font-weight: bold; }

.iv {
  color: #3333bb; }

.la {
  color: #997700;
  font-weight: bold; }

.lv {
  color: #996633; }

.oc {
  color: #4400ee;
  font-weight: bold; }

.on {
  color: black;
  font-weight: bold; }

.pc {
  color: #003388;
  font-weight: bold; }

.pd {
  color: #336699;
  font-weight: bold; }

.pp {
  color: #557799; }

.pt {
  color: #333399;
  font-weight: bold; }

.r {
  color: #008800;
  font-weight: bold; }

.rx {
  background-color: #fff0ff; }
  .rx .k {
    color: #880088; }
  .rx .dl {
    color: #440044; }
  .rx .mod {
    color: #cc22cc; }
  .rx .fu {
    color: #440044;
    font-weight: bold; }

.s {
  background-color: #fff0f0; }
  .s .s {
    background-color: #ffe0e0; }
    .s .s .s {
      background-color: #ffd0d0; }
  .s .k {
    color: #dd2200; }
  .s .dl {
    color: #771100; }

.sh {
  background-color: #f0fff0; }
  .sh .k {
    color: #22bb22; }
  .sh .dl {
    color: #116611; }

.sy {
  color: #aa6600; }
  .sy .k {
    color: #aa6600; }
  .sy .dl {
    color: #663300; }

.ta {
  color: #007700; }

.tf {
  color: #007700;
  font-weight: bold; }

.ts {
  color: #dd7700;
  font-weight: bold; }

.ty {
  color: #333399;
  font-weight: bold; }

.v {
  color: #003366; }

.xt {
  color: #444444; }
