<div id="entrysource">
  <%= page.body %>
</div>
<div id="entryresult" />
<script type="text/javascript">
  var GitHub = {}
  GitHub.nameWithOwner = "<%= enki_config[:author][:github] %>/<%= post.project %>";
</script>
<%= javascript_include_tag 'parse_showdown' %>
