%h2
  =link_to(h(post.title), post_path(post))
  
.entrybody.gfm
  :preserve
    
    #{post.body}
:javascript
  var GitHub = {}
  GitHub.nameWithOwner = "#{enki_config[:author][:github]}/#{post.project}";
.meta
  %ul
    %li.date
      Posted on
      =format_post_date(post.published_at)
    %li.comments
      =link_to(pluralize(post.approved_comments.size,"comment"), post_path(post,:anchor => 'comments'))
    -unless post.tags.empty?
      %li.tags
        Tagged
        =linked_tag_list(post.tags)
